.title {
	text-align: center;
	background-image: url("icon.png");
	background-position: top left;
	background-repeat: no-repeat;
	color: #4488ff;
}

.title span {
	font-size: 200%;
}

.title a {
	font-weight: bold;
}

.button {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #000; 
	padding: 5px;
	margin: 10px;
	text-align: center;
	color: #8877ff;
	font-weight: bold;
	font-size: 110%;
}

.tinylink {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
}

.error {
	margin: 10px;
	color: red;
}

.gwt {
	text-align: center;
}

.information {
	background-image: url('android_market.png');
	background-repeat: no-repeat;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #000;
	margin: 10px;
	margin-top: 0px;
	padding: 5px;
	text-align: center;
	background-color: #4488ff;
}

.information a {
	font-weight: bold;
	text-decoration: none;
}

body {
	font: normal .8em Arial, sans-serif;
	color: #555;
	margin:0px;
	padding:0px;
}

body a {
	text-decoration: none;
	color: #006699;
}