<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>shortyUrlServlet</servlet-name>
    <servlet-class>net.sylvek.sharemyposition.server.ShortyUrlServletImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shortyUrlServlet</servlet-name>
    <url-pattern>/service/create</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>updatePositionServlet</servlet-name>
    <servlet-class>net.sylvek.sharemyposition.server.UpdatePositionServletImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePositionServlet</servlet-name>
    <url-pattern>/service/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>retrievePositionServlet</servlet-name>
    <servlet-class>net.sylvek.sharemyposition.server.RetrievePositionServletImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retrievePositionServlet</servlet-name>
    <url-pattern>/service/retrieve</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
